{{#each games as |game|}}

 <ul>
  <h1 data-id="{{game.id}}"> <small>{{game.title}}</small></h1>
  <!-- <div>
    {{#if game.title}}
      {{game.title}}
    {{else}}
      No title provided.
    {{/if}}
  </div> -->
 </ul>

{{/each}}
