$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$font-main: 'pricedown', sans-serif;
$bg-color: #b2e7a1;

body {
  background-color: $bg-color;
}

.main-title {
  font-family: $font-main;
}

.handlebars {
  text-align: center;
}

.content {
  text-align: center;
}

.my-game {
  text-align: center;
}
