$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// @font-face {
//     font-family: 'pricedownblack';
//     src: url('pricedown_bl-webfont.woff2') format('woff2'),
//          url('pricedown_bl-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//
// }

body {
  margin: 10px auto;
  text-align: center;
  width: 1000px;
}

.handlebars {
  text-align: center;
}

.content {
  text-align: center;
}

.my-game {
  text-align: center;
}
